*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link1{
  color: #FAFAFA;
  text-decoration: none;
}

.link2{
  color: #212121;
}

header{
  width: auto;
  height: 70px;
  background-color: #EC715F;
  display: flex;
  justify-content: center;
}

.container1{
  width: 1024px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container1 > :first-child {
  margin-right: auto;
}

.logo{
  height: 70px
}

li{
  display: inline-block;
  font-size: 16px;
  color: #FAFAFA;
  margin-left: 30px;
  margin-right: 30px;
}

#mv{
  background-image: url(img/mv.png);
  width: auto;
  height: 650px;
  background-size: cover;
  background-position: bottom;
}

.mv-title{
  text-align: center;
  padding-top: 200px;
  font-size: 64px;
  color: #FAFAFA;
}

.mv-text{
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  color: #FAFAFA;
}

#portfolio{
  background-color: #ECEFF1;
  width: auto;
  height: 881px;
}

.PF-title{
  text-align: center;
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
}

.border{
  border-bottom: solid 3px #EC715F;
  padding-bottom: 8px;
  width: 70px;
  margin-right: auto;
  margin-left: auto
}

.PF-text{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  color: #000000;
}

.images{
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image1{
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: bottom;
}

.image2{
  width: 300px;
  height: 250px;
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: bottom;
}

.image3{
  width: 300px;
  height: 250px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: bottom;
}

.image4{
  width: 300px;
  height: 250px;
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: bottom;
}

.image5{
  width: 300px;
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: bottom;
}

.image6{
  width: 300px;
  height: 250px;
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: bottom;
}

.feature{
  width: 980px
}

.Fe-title{
  text-align: center;
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
}

.Fe-text{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  color: #000000;
}

.strengths{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas{
  font-size: 60px;
  margin-left: 130px;
}

.St-title{
  font-size: 20px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.St-text{
  width: 320px;
  font-size: 16px;
  color: #000000;
  margin-bottom: 90px;
  margin-left: 5px;
  margin-right: 5px
}

#profile{
  background-color: #ECEFF1;
  width: auto;
  height: 621px;
}

.container2{
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.Pr-title{
  text-align: center;
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
}

.Pr-text{
  text-align: center;
  margin-top: 30px;
  margin-bottom:  30px;
  font-size: 16px;
  color: #000000;
}

.Pr-option{
  display: flex;
}
.Pro-image{
  width: 250px;
  height: 250px;
  margin-left: 131px;
  margin-right: 131px;
  background-image: url(img/my-icon.jpg);
  background-size: cover;
  background-position: bottom;
  border-radius:50%;
}

.Pro-title{
  text-align: left;
  width: 512px;
  margin-bottom: 5px;
  font-size: 20px;
  color: #000000;
}

.Pro-text{
  text-align: left;
  width: 512px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #000000;
}

#contact{
  width: 800px;
  height: 329px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
}

.Co-title{
  text-align: center;
  margin-top: 90px;
  font-size: 32px;
  color: #000000;
}

.Co-text{
  text-align: center;
  margin-top: 30px;
  margin-bottom:  30px;
  font-size: 16px;
  color: #000000;
}

.container3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Con-adless{
  height: 250px;
  width: 400px;
}

.Con-images1{
  height: 250px;
  width: 400px;
  text-align: center;
}

.Con-images2{
  width: 180px;
  margin-left: 115px;
  margin-right: 115px;
}

.Con-title{
  text-align: left;
  width: 130px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: #000000;
}

.Con-title2{
  text-align: left;
  margin-bottom: 5px;
  font-size: 20px;
  color: #000000;
}

.Con-text{
  text-align: left;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:  20px;
  color: #000000;
}

.fa{
  font-size: 50px;
}

.fa-twitter{
  margin-left: 20px;
  margin-right: 20px;
}

footer{
  width: auto;
  height: 60px;
  background-color: #EC715F;
  text-align: center;
}

.copyright{
  line-height: 60px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 16px;
  color: #FAFAFA;
}

@media screen and (max-width:768px) {
  header{
  height: 50px;
  }

  .container1{
  width: 90%;
  height: 50px;
  }

  .logo{
    height: 50px
  }

  .nav-item{
    display: none;
  }

  .hamburger {
    width: 40px;
    height: 40px;
    position: relative;
    background-color: #EC715F;
  }

  .hamburger_bar {
    display: block;
    width: 70%;
    height: 4px;
    position: absolute;
    left: 15%;
    background: #FAFAFA;
  }

  .hamburger_bar:nth-child(1) {
    top: 25%;
  }

  .hamburger_bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .hamburger_bar:nth-child(3) {
    top: 75%;
    transform: translateY(-100%);
  }
  #mv{
    background-image: url(img/code.png);
    width: auto;
    height: 650px;
    background-size: cover;
    background-position: bottom;
  }

  .mv-title{
    width: 90%;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .mv-text{
    width: 90%;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  #portfolio{
    background-color: #ECEFF1;
    width: auto;
    height: 1190px;
  }

  .PF-text{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .sp-none{
    display: none;
  }

  .images{
    width: 90%;
    display: block;
  }

  .image2{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .image4{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .image6{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
  }

  .Fe-text{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .strengths{
    display: block;
  }

  .fas{
    margin-left: 265px;
  }

  .fas2 , .fas3{
    margin-top: 10px;
  }

  .St-text1 , .St-text2{
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .St-text3{
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  #profile{
    width: auto;
    height: 100%;
  }

  .container2{
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .Pr-text{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .Pr-option{
    display: block;
  }
  .Pro-image{
    margin-left: auto;
    margin-right: auto;
  }

  .Pro-title{
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .Pro-text{
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }

  .Pro-text2{
    margin-bottom: 90px;
  }

  #contact{
    width: 800px;
    height: 329px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
  }

  .Co-title{
    text-align: center;
    margin-top: 90px;
    font-size: 32px;
    color: #000000;
  }

  .Co-text{
    text-align: center;
    margin-top: 30px;
    margin-bottom:  30px;
    font-size: 16px;
    color: #000000;
  }

  .container3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .Con-adless{
    height: 250px;
    width: 400px;
  }

  .Con-images1{
    height: 250px;
    width: 400px;
    text-align: center;
  }

  .Con-images2{
    width: 180px;
    margin-left: 115px;
    margin-right: 115px;
  }

  .Con-title{
    text-align: left;
    width: 130px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: #000000;
  }

  .Con-title2{
    text-align: left;
    margin-bottom: 5px;
    font-size: 20px;
    color: #000000;
  }

  .Con-text{
    text-align: left;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:  20px;
    color: #000000;
  }

  .fa{
    font-size: 50px;
  }

  .fa-twitter{
    margin-left: 20px;
    margin-right: 20px;
  }

  footer{
    width: auto;
    height: 60px;
    background-color: #EC715F;
    text-align: center;
  }

  .copyright{
    line-height: 60px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
    color: #FAFAFA;
  }
}